*{
    margin: 0;
    padding: 0;

}
body{
    background-color: #548687;
    text-align: center;
}

.container{
    height: 500px;
    display:flex ;
   
    justify-content: center;
    align-items: center;
}
.game{
    height: 420px;
    width: 420px;
    display:flex ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 9px;
}
.box{
    height: 115px;
    width: 115px;
    border-radius: 9px;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 55px;
    color: brown;
    background-color: #ffffc7;
}
#btn{
    padding: 0.7rem;
    border: none;
    border-radius: 9px;
    background-color: black;
    font-size: 20px;
    color: white;

}
#new-btn{
    padding: 0.7rem;
    border: none;
    border-radius: 9px;
    background-color: black;
    font-size: 20px;
    color: white;

}

#msg{
    color: #ffffc7;
    font-size: 8vmin;
   
}
.msg-container{
    height: 100vmin ;
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display: none;
}